<launch>
<arg name="robot" default="machines"/>
<arg name="debug" default="false"/>
<arg name="gui" default="true"/>
<arg name="headless" default="false"/>
<arg name="pause" default="true"/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find conveyor_pkg)/worlds/conveyor.world"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <!-- env name="GAZEBO_MODEL_PATH" value="$(find simulation_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)"/ -->
</include>

<include file="$(find conveyor_pkg)/launch/spawn_conveyor.launch">
    <arg name="x" value="0.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="1.0"/>
</include>

<include file="$(find conveyor_pkg)/launch/spawn_friction_test_object.launch">
    <arg name="x" value="2.0"/>
    <arg name="y" value="0.0"/>
    <arg name="z" value="2.6"/>
</include>
    <include file="$(find conveyor_pkg)/launch/conveyor_start_control.launch"/>
</launch>

